.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.description {
  font-size: 2.5rem;
  font-weight: 200;
  max-width: 980px;
  text-align: center;
}

.walletstatus {
  font-size: 1.5rem;
  font-weight: 200;
  max-width: 980px;
  text-align: center;
  align-items: center; 
}

.button {
  background: #41d189;
  background: rgb(64,247,3);
  background: linear-gradient(66deg, rgba(64,247,3,1) 0%, rgba(244,50,192,1) 46%, rgba(0,212,255,1) 100%);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.tokens {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
}

.token {
  width: 400px;
  margin: 1rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1.3rem;
  font-weight: 300;
}


.logo {
  height: 2em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
